.FormContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px -3px 5px blanchedalmond;

    .Input {
        margin: 10px 0;
        height: 30px;
    }

    .RadioWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    textarea, .Input, button {
        width: 100%;
        border: 2px solid black;
        font-size: 25px;
        border-radius: 5px;
        padding-left: 2px;
        box-shadow: 3px -3px 5px rgb(8, 5, 1);
    }

    .Name {
        border: 2px solid rgb(10, 68, 10);
        background-color: green;
        color: white;
    }


    textarea {
        height: 150px;
    }

    button {
        width: 50%;
        margin: auto;
    }

}